:root {
  --max-width: 1200px;
  --border-radius: 12px;
  --font-mono: "Poppins", sans-serif;
  --max-padding: 15px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.headerOuter {
  border-bottom: 1px solid rgba(3, 18, 32, 0.07);
}
.outerDiv {
  margin: auto;
  max-width: var(--max-width);
  padding: 0 var(--max-padding);
}
@media (max-width: 768px) {
  .outerDiv {
    padding: 15px;
  }
}

